
{% block title %}Create email page{% endblock %}

{% block body %}
<style>
    
</style>

<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}
